@import url("https://fonts.googleapis.com/css?family=Poppins");

.container {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  justify-content: center;
  text-align: center;
  background-color: aqua;
  opacity: 0.4;
  border-radius: 3rem 1rem 3rem;
  width: 35%;
}

h1 {
  color: black;
  font-weight: 200;
}

.metric_selector {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0.2rem;
  margin: 1rem;
  margin-bottom: 0.2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  background-color: yellow;
}
