@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.container {
  font-family: "Poppins", sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
  background-color: aqua;
  opacity: 0.8;
  border-radius: 3rem 1rem 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 45%;
  padding: 1rem;
}

.app_title {
  font-family: "Gloria Hallelujah", cursive;
  color: red;
  font-weight: 200;
  font-size: 2.7rem;
  margin-top: 2rem;
}

.metric_selector {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0.2rem;
  margin-top: 1rem;
}

select {
  margin-bottom: 1.1rem;
  background-color: yellow;
  color: green;
  padding: 8px 16px;
  border: 0.2rem;
  border-radius: 2rem 1rem;
  cursor: pointer;
}

select:focus {
  outline: 0;
}
.inputs {
  justify-content: center;
  display: block;
  border: 0.2rem;
}

.input {
  margin: 0.2rem;
  border-color: black;
  border-radius: 2rem 1rem 3rem;
  width: 80%;
  height: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  background-color: yellow;
}

.calc {
  background-color: orange;
  width: 30%;
  height: 3rem;
  margin: 1rem;
  border-radius: 1rem 1px 3px;
  font-size: 1.5rem;
  color: greenyellow;
  border: 0.2rem solid #0e4f1f;
}

button:focus {
  outline: 0;
}

.result {
  color: blueviolet;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0.5rem;
}
