@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.container {
  font-family: "Poppins", sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
  background: rgba(171, 205, 239, 0.3);
  border-radius: 3rem 1rem 3rem;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 48%;
  padding: 1rem;
}

.app_title {
  font-family: "Gloria Hallelujah", cursive;
  color: #ff948f;
  font-weight: 200;
  font-size: 2.7rem;
  margin-top: 2rem;
}

.metric_selector {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0.2rem;
  margin-top: 1rem;
}

p {
  color: #ff948f;
  font-size: 1.2rem;
}

select {
  margin-bottom: 1.1rem;
  background-color: #8381ca;
  color: #ff7595;
  padding: 8px 16px;
  border-radius: 2rem 1rem;
  border: #8381ca;
  cursor: pointer;
  font-weight: 300;
  text-align-last: center;
  padding-right: 29px;
  direction: rtl;
}

select:focus {
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.inputs {
  justify-content: center;
  display: block;
  border: 0.2rem;
}

.input {
  margin: 0.2rem;
  border-color: #8381ca;
  border-radius: 2rem 1rem 3rem;
  width: 50%;
  height: 2.2rem;
  font-size: 1.8rem;
  background: #8381ca;
  color: #ffffff;
  text-align: center;
  padding-bottom: 0.2rem;

  font-family: "Gloria Hallelujah";
}

.input::placeholder {
  color: #ff948f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  background-color: #ff948f;
}

.calc {
  background-color: #8381ca;
  width: 30%;
  height: 3rem;
  margin: 1rem;
  border-radius: 1rem 0.5rem;
  font-size: 1.5rem;
  color: #ff7595;
  border-color: #8381ca;
}

button:focus {
  outline: 0;
}

button:hover {
  color: #ffffff;
}

.result {
  color: #ff948f;
  font-weight: 500;
  font-size: 2rem;
  margin: 1rem;

  font-family: "Gloria Hallelujah";
}
.number {
  font-size: 3.3rem;
  margin-top: 2.5rem;
  font-weight: bold;
  color: #e75559;
}
.unit_system {
  padding-left: 1rem;
}

i {
  padding-left: 0.4rem;
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
  .container {
    position: fixed;
    width: 85%;
    height: 80%;
    padding: 1rem;
    margin-top: 3rem;
  }
  .app_title {
    font-size: 1.9rem;
    padding-top: 1rem;
  }
  .metric_selector {
    font-size: 1rem;
    padding: 0.1rem;
    margin-top: 0.3rem;
  }
  select {
    margin-bottom: 0.8rem;
    padding: 0.4rem 0.9rem;
    border: 0.1rem;
    border-radius: 2rem 1rem;
    font-weight: 300;
    width: 60%;
    height: 2rem;
  }
  .input {
    margin: 0.2rem;
    height: 3rem;
    color: #ff7595;
    font-weight: bold;
    font-size: 2.2rem;
    padding-top: 0.5rem;
  }

  .input:focus {
    color: #8381ca;
  }
  .input::placeholder {
    font-size: 13px;
    text-indent: -10px;
    vertical-align: text-top;
  }

  .calc {
    width: 60%;
    height: 3rem;
    margin: 0.5rem;
    border-radius: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff7595;
  }

  .result {
    color: #ff948f;
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .number {
    font-size: 3.3rem;
    margin-top: 2.5rem;
    font-weight: bold;
    color: #e75559;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  .container {
    position: fixed;
    width: 85%;
    height: 70%;
    padding: 1rem;
    margin-top: 1rem;
  }
  .app_title {
    font-size: 2.2rem;
    padding-top: 1rem;
  }
  select {
    margin-bottom: 0.4rem;
    border: 0.1rem;
    border-radius: 2rem 1rem;
    width: 60%;
    height: 2.5rem;
    font-size: 1.5rem;
  }
  .input {
    margin: 0.2rem;
    height: 3rem;
    color: #ff7595;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 0.5rem;
    width: 70%;
  }
  .input:focus {
    color: #8381ca;
  }

  .calc {
    width: 50%;
    height: 3rem;
    margin: 0.7rem;
    border-radius: 1rem 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #ff7595;
    width: 60%;
  }
  .result {
    color: #ff948f;
    font-size: 2.7rem;
    margin-top: 1.7rem;
  }
  .number {
    font-size: 3.3rem;
    margin-top: 3.3rem;
    font-weight: bold;
  }
}
