@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah");

.container {
  font-family: "Poppins", sans-serif;
  display: block;
  justify-content: center;
  text-align: center;
  background: rgba(171, 205, 239, 0.3);
  border-radius: 3rem 1rem 3rem;
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  height: 40%;
  padding: 1rem;
}

.app_title {
  font-family: "Gloria Hallelujah", cursive;
  color: #ff948f;
  font-weight: 200;
  font-size: 2.7rem;
  margin-top: 2rem;
}

.metric_selector {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0.2rem;
  margin-top: 1rem;
}

p {
  color: #ff948f;
}

select {
  margin-bottom: 1.1rem;
  background-color: #8381ca;
  color: #ff7595;
  padding: 8px 16px;
  border: 0.2rem;
  border-radius: 2rem 1rem;
  cursor: pointer;
  font-weight: 300;
}

select:focus {
  outline: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}
.inputs {
  justify-content: center;
  display: block;
  border: 0.2rem;
}

.input {
  margin: 0.2rem;
  border-color: #8381ca;
  border-radius: 2rem 1rem 3rem;
  width: 80%;
  height: 2.2rem;
  font-weight: 500;
  background: #8381ca;
  color: #ffffff;
  text-align: center;
}

.input::placeholder {
  color: #ff948f;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:focus {
  background-color: #ff948f;
}

.calc {
  background-color: #8381ca;
  width: 30%;
  height: 3rem;
  margin: 1rem;
  border-radius: 1rem 0.5rem;
  font-size: 1.5rem;
  color: #ff7595;
  border: 0.2rem solid #8381ca;
}

button:focus {
  outline: 0;
}

button:hover {
  color: #ffffff;
}

.result {
  color: #ff948f;
  font-weight: 500;
  font-size: 2.5rem;
  margin: 0.5rem;
  font-family: "Gloria Hallelujah";
}
