@import url("https://fonts.googleapis.com/css?family=Poppins");

.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
  padding-bottom: 2rem;
  background: linear-gradient(to right, rgb(181, 88, 88), rgb(25, 35, 86));
  width: 100%;
  position: fixed;
  bottom: 0;
}
.brown {
  display: inline;
  color: #bb3737;
  font-weight: bold;
  font-size: 2rem;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #fafafa;
  margin-top: 0.5rem;
}

.footer-text-extented {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.socials {
  margin-left: 1rem;
}

i {
  color: #fafafa;
}
