@import url("https://fonts.googleapis.com/css?family=Poppins");

.footer-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 1.2rem;
  padding-bottom: 0.5rem;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer-text {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #e75559;
  margin-top: 0.5rem;
  font-weight: bold;
  background: rgba(112, 163, 159, 0.3);
  padding: 1rem;
  padding-bottom: 0.5rem;
  border-radius: 3rem 1rem 3rem;
}
.brown {
  display: inline;
  color: #bb3737;
  font-weight: bold;
  font-size: 2rem;
}
.footer-text-extented {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.socials {
  margin-left: 1rem;
}

i {
  color: #e75559;
}

@media screen and (max-width: 40rem) {
  .footer-container {
    padding: 1.2rem;
  }
  .footer-text {
    height: 2rem;
    font-size: 1rem;
    margin-top: 0.1rem;
    padding: 0.2rem;
    padding-bottom: 0.5rem;
    background: none;
    font-weight: 100;
  }
  .brown {
    font-size: 1.2rem;
  }
  .footer-text-extented {
    margin-top: 0.1rem;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
  }
}
