@import url("https://fonts.googleapis.com/css?family=Poppins");

footer {
  display: flex;
  list-style: none;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: #fafafa;
  background-color: black;
  width: 100%;
}
.brown {
  display: inline;
  color: #bb3737;
  font-weight: bold;
  font-size: 1.2rem;
}
