body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/rainbow-937042_1920.jpg") center/cover;
}
button {
  cursor: pointer;
}
